# Python Basics

This Jupyter notebook covers the basics of Python, particularly, 1) data type, 2)data containers, and 3) control flows.

## 1. Python Data Type

Python has a handful of data types to store data effectively and efficiently. The followings are the data type we will cover in this course. 

- String: str()
    - 'Hello world'
- Integer: int()
    - 1, 2, 3...
- Floating-point number: float()
    - 3.141592...
- Boolean: bool() 
    - True or False

The following is a quick example of how you assign variables in Python. <br> 
Note that we did not need to declare variable types. We could just assign anything to a variable and it works. This is the power of an interpreted (as opposed to compiled) language.

In [ ]:
s = 'Hello world' # String
i = 1 # Integer
f = 3.141592 # Floating point number (float)
b = True

# Print the variables and their types
print(s, type(s))
print(i, type(i))
print(f, type(f))
print(b, type(b))

### 1.1. String

Strings are made using various kinds of (matching) quotes. Examples:

In [ ]:
s1 = 'hello'
s2 = "world"
s3 = '''strings can 
also go 'over'
multiple "lines".'''

print(s1)
print(s2)
print(s3)

You can also 'add' strings using 'operator overloading', meaning that the plus sign can take on different meanings depending on the data types of the variables you are using it on.

In [ ]:
print(s1 + ' ' + s2)  # note, we need the space otherwise we would get 'helloworld'

Another methods of putting strings together is called 'formatted string literals' (also called f-strings for short).

In [ ]:
# Here, we assign the string directly inside of the parenthesis.
print(f'{s1} {s2}')

---
### *Exercise*

1. Create two variables, called `first` and `last`, and assign your first and last name, respectively.
2. Comebine those two variables into a new variable and make a new variable called `name`. It should have a space between your first and last name. 

---

In [ ]:
# Your code here
first = 'Jinwoo'
last = 'Park'

name = first + ' ' + last
name = f'{first} {last}'

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
print(f'{first} {last}')
print(name)

assert f'{first} {last}' == name
print("Success!")

### 1.2. Numeric types (i.e., Integer and Float)

In [ ]:
year = 2024  # if you assign INTEGER to a variable, the type will be an INTEGER
pi = 3.141592  # if you assign FLOAT to a variable, the type will be an FLOAT. 

print(year, type(year))
print(pi, type(pi))

In [ ]:
a = 5.
print(a, type(a))

You can use the following arithmetic operator in Python. 

| Name | Operator | Example |
| --- | --- | --- |
| Addition | + | x + y |
| Subtraction | - | x - y |
| Multiplication | * | x * y |
| Division | / | x / y |
| Exponentiation | ** | x ** y |
| Floor division | // | x // y |
| Modulus | % | x % y |

In [ ]:
aa = 25
bb = 3

print(f'Addition:        {aa} + {bb} = {aa + bb}') 
print(f'Subtraction:     {aa} - {bb} = {aa - bb}') 
print(f'Multiplication:  {aa} * {bb} = {aa * bb}') 
print(f'Division:        {aa} / {bb} = {aa / bb}') 
print(f'Exponentiation:  {aa} ** {bb} = {aa ** bb}') 
print(f'Quotient:        {aa} // {bb} = {aa // bb}') 
print(f'Remainder:       {aa} % {bb} = {aa % bb}')

If you sum an integer and a float, its type will be float, regardless of the result of the sum.

In [ ]:
n1 = 1
n2 = 1.0
n3 = n1 + n2

print(n1, type(n1))
print(n2, type(n2))
print(n3, type(n3))

You can easily change the type of numerical variables with `int()` and `float()`. <br>
Note that `int()` will only keep the integer part of float (e.g., 3.141592 -> 3).

In [ ]:
# From integer to float
print(n1, type(n1))

n4 = float(n1)
print(n4, type(n4))

# From float to integer
print(pi, type(pi))

n5 = int(pi)
print(n5, type(n5))

If you want to round the rational number, instead of just removing decimal points, use the function `round()`.

In [ ]:
# round(number, digit) takes two arguments. 
# The first is the number to be rounded, the second is the number of decimals (default is 0).
print(round(pi, 1))  
print(round(pi, 2))
print(round(pi, 3))
print(round(pi, 4))
print(round(pi, 5))

---
### *Exercise*

3. Calculate the perimeter and the area of a circle with a radius of 5 (You can use pi assigned in the previus cell). <br><br>
$$ C = 2 \pi r $$
$$ A = \pi r ^2 $$

4. Assign the perimeter and the area to C and A, respectively. 

```python
pi = 3.141592
r = 5

C = `DO SOMETHING`
A = `DO SOMETHING`
```
---

In [ ]:
# Your code here
pi = 3.141592
r = 5

C = `DO SOMETHING`
A = `DO SOMETHING`

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
print(f'Perimeter of a circle: {C}')
print(f'Area of a circle: {A}')

assert round(C, 2) == 31.42
assert round(A, 2) == 78.54
print("Success!")

### 1.3. Boolean 

A `Boolean` variable denotes ture or false values based on two case-sensitive keywords, `True` and `False`.

In [ ]:
b1 = True
b2 = False
print(b1, b2)

Note that `True` is NOT equal to `'True'`. `'True'` is a string, not a boolean.

In [ ]:
print(f'Type of True: {type(True)}')
print(f'Type of "True": {type("True")}')

Each data type of Python has a representation of boolean. For example, numereical value 0 is `False`, but other numbers are `True`. In addition, empty string (e.g., `''`) is `False`, but nonempty string is `True`.

In [ ]:
# Integer / Float
print(bool(0)) 
print(bool(1)) 
print(bool(-1.8))
print(bool(100))

In [ ]:
# String
print(bool(''))
print(bool('Something'))
print(bool('Words'))

The variable type, Boolean, is usually used for testing conditions, rather than storing True and False. 
<br><br>
We can test the values of variables using different operators. These tests return a `Boolean` value. Either `True` or `False`. `False` is the same as zero, `True` is nonzero. Note that assignment `=` is different than a test of equality `==`.

In [ ]:
a = 5

In [ ]:
print(f'a < 99:  {a < 99}')
print(f'a > 99:  {a > 99}')
print(f'a == 5.:  {a == 5.}')

These statements have returned "booleans", which are True and False only. These are commonly used to check for conditions within a script or function to determine the next course of action.

NOTE: booleans are NOT equivalent to a string that says "True" or "False". We can test this:

In [ ]:
True == 'True'

There are other things that can be tested, not just mathematical equalities. For example, to test if an element is inside of a list or string (or any sequence, more on sequences below..), do

In [ ]:
foo = [1, 2, 3, 4, 5 ,6] # List
5 in foo

In [ ]:
print('this' in 'What is this?')
print('that' in 'What is this?')

## 2. Containers

- List: list()
    - [variable1, variable2, variable3...]
- Tuple: tuple()
    - (variable1, variable2, variable3...)
- Dictionary: dict()
    - {key1: value1, key2: value2, key3: value3 ...}

Often you need lists or sequences of different values (e.g., a timeseries of temperature – a list of values representing the temperature on sequential days). There are three containers in the core python language. There are a few more specialized containers (e.g., numpy arrays and pandas dataframes) for use in scientific computing that we will learn much more about later; they are very similar to the containers we will learn about here.

### 2.1. List

Lists are perhaps the most common container type. They are used for sequential data. Create them with square brackets with comma separated values within:

In [ ]:
foo = [1., 2., 3, 'four', 'five', [6., 7., 8], 'nine']
type(foo)

Note that lists (unlike arrays, as we will later learn) can be heterogeneous. That is, the elements in the list don't have to have the same kind of data type. Here we have a list with floats, ints, strings, and even another (nested) list!

We can retrieve the individual elements of a list by 'indexing' the list. We do this with square brackets, using zero-based indexes – that is 0 is the first element – as such:

In [ ]:
foo[0]

In [ ]:
foo[5]  # Nested list (a list in a list)

In [ ]:
foo[5][1]  # Python is sequential, we can access an element within an element using sequential indexing.

In [ ]:
foo[-1]    # This is the way to access the last element.

In [ ]:
foo[-3]    # ...and the third to last element

In [ ]:
foo[-3][2]   # we can also index strings.

In [ ]:
list_a = [0, 1, 2, 3]
list_a

In [ ]:
list_a.append(4)
list_a

In [ ]:
# create a sequence of 10 elements, starting with zero, up to but not including 10.
bar = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# or you can use function range(start, end, step) to create the same list
bar_ = list(range(10, 20, 1))
print(bar)
print(bar_)
print(bar == bar_)

---
### *Exercise*

5. Find the value at the index of 3 in the list `bar` and then assign it to a variable `slice` <br><br>
```python
bar = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
slice = `DO SOMETHING`
print(slice)
```
---

In [ ]:
# Your code here
bar = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
slice = `DO SOMETHING`
print(slice)

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert slice == 12
print("Success!")

### 2.2. Tuples

Tuples (pronounced too'-puls) are sequences that can't be modified, and don't have methods. Thus, they are designed to be immutable sequences. They are created like lists, but with parentheses instead of square brackets.

In [ ]:
bar = list(range(0, 10, 1))
print(bar)
bar[3] = -999
# print(bar)

In [ ]:
# foo = (3, 5, 7, 9)
# foo[2] = -999  # gives an assignment error. Commented so that all cells run.

In [ ]:
foo[1]

### 2.3. Dictionaries

Dictionaries are used for unordered sequences that are referenced by arbitrary 'keys' instead of by a (sequential) index. Dictionaries are created using curly braces with keys and values separated by a colon, and key:value pairs separated by commas, as

In [ ]:
dict_car = {
    "Brand" : "Hyundai",
    "Model" : "Santa Fe",
    "Year"  : 2024
}
print(dict_car)

Elements are referenced and assigned by keys:

In [ ]:
dict_car['brand']

In [ ]:
dict_car['model']

The sets of a key and a value can be added or replaced as follows.

In [ ]:
bar[3] = -999

In [ ]:
# Add value with a key
dict_car['color'] = 'Black'
print(dict_car)

In [ ]:
# Replacing value with a key
print(dict_car['year'])
dict_car['year'] = list(range(2020, 2025, 1)) # [2020, 2021, 2022, 2023, ... ]
print(dict_car['year'])

In [ ]:
dict_car

The keys and values can be extracted as lists using methods of the dictionary class.

In [ ]:
dict_car.keys()

In [ ]:
dict_car.values()

## 3. Control Flows

- Loops
    - For loop (or for statement)
    - While loop (or while statement)

- Conditional (i.e., if statement)

### 3.1. For loop

Loops are one of the fundamental structures in programming. Loops allow you to iterate over each element in a sequence, one at a time, and do something with those elements.

*Loop syntax*: Loops have a very particular syntax in Python; this syntax is one of the most notable features to Python newcomers. The format looks like

```python
    for *element* in *sequence*:                # NOTE the colon at the end
        <some code that uses the *element*>     # the block of code that is looped over for each element
        <more code that uses the *element*>     # is indented four spaces (yes four! yes spaces!)
    
    <the code after the loop continues>         # the end of the loop is marked simply by unindented code
```
Thus, INDENTATION IS SIGNIFICNAT TO THE CODE. This was done because good coding practice (in almost all languages, C, FORTRAN, MATLAB) typically indents loops, functions, etc. Having indentation be significant saves the end of loop syntax for more compact code.

*Some important notes on indentation*  Indentation in python is typically *4 spaces*. Most programming text editors will be smart about indentation, and will also convert TABs to four spaces. Jupyter notebooks are smart about indentation, and will do the right thing, i.e., autoindent a line below a line with a trailing colon, and convert TABs to spaces.

In [ ]:
for n in range(0, 11, 1):
    print(n)

In [ ]:
# A simple example is to find the sum of the sequence 0 through 10,
sum_result = 0

for n in range(0, 11, 1):
    # sum_result += n
    sum_result = sum_result + n
    print(f'sum result from 0 to {n}: {sum_result}')
    
print(sum_result)

In [ ]:
names = ['Patrick', 'Chris', 'Daniel']
for name in names:
    print(f'Welcome to the programming class, {name}!')

In [ ]:
# This for loop will spit out every alphabet in the string. 
for s in 'Patrick':
    print(s)

### 3.2. If statement
Conditionals have a similar syntax to `for` statements. Generally, conditionals look like
```python
    if <test>:
        <Code run if...>
        <...test is valid>
```
or
```python
    if <first test>:
        <Code run if...>
        <...the first test is valid>
    elif <second test>:
        <Code run if...>
        <...the second test is valid>
    else:
        <Code run if...>
        <...neither test is valid>
```

In both cases the test statements are code segments that return a boolean value, often a test for equality or inequality. The `elif` and `else` statements are always optional; both, either, or none can be included.

In [ ]:
x = 2
    
if x < 20: 
    print('x is less than 20')
elif x == 20:
    print('x is equal to 20')
else:
    print('x is more than 20')

---
### *Exercise*

6. By utilizing `for loop` and `if statements`, append the values from 0 to 9 into `list_odd` and `list_even`. <br>
Hint: You can use % operator to check the remainder. For example, 2 % 2 = 0, because 2 / 2 = 1 with no remainder. <br>

```python
list_odd = []
list_even = []

for value in range(0, 10, 1):
    print(value) # Check the current value in the loop

    if `DO SOMETHING`: # If the value is even
        
        # Add the current value in the loop to `list_even`
        `DO SOMETHING (ONE LINE OF CODE)`
        
    else: # Other cases, i.e., if the value is odd
        
        # Add the current value in the loop to `list_odd`
        `DO SOMETHING (ONE LINE OF CODE)`
        
print(f'Even Numbers: {list_even}')
print(f'Odd Numbers: {list_odd}')
```
---

In [ ]:
# Your code here

list_odd = []
list_even = []

for value in range(0, 10, 1):
    print(value) # Check the current value in the loop

    if `DO SOMETHING`: # If the value is even
        
        # Add the current value in the loop to `list_even`
        `DO SOMETHING (ONE LINE OF CODE)`
        
    else: # Other cases, i.e., if the value is odd
        
        # Add the current value in the loop to `list_odd`
        `DO SOMETHING (ONE LINE OF CODE)`
        
print(f'Even Numbers: {list_even}')
print(f'Odd Numbers: {list_odd}')

In [ ]:
""" Test code for the previous function. 
This cell should NOT give any errors when it is run."""

# Check your result here. 
assert list_even == [0, 2, 4, 6, 8]
assert list_odd == [1, 3, 5, 7, 9]

print("Success!")

# Done